@media (min-width:500px) {
    nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .card{
        grid-template-columns: 1fr 1fr;

    }
    nav {
        display: block;
        flex: 1 1 100%;

    }

}