@media (min-width:640px) {
    nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    section {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1rem;
    }
}